.movies {
  padding: 70px 0 0 0;
}

.movies-list {
  padding: 0;
  padding-bottom: 50px;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 38px 20px;
}