.promo {
  display: flex;
  flex-direction: column;
  background-color: #073042;

  &__title {
    margin: 50px auto 102px 70px;
    max-width: 626px;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -0.04em;
    color: #FFF;
  }

  &__image {
    max-width: 722px;
    width: 100%;
    margin: 0 70px 60px auto;
  }
}