.header {
  display: flex;
  justify-content: space-between;
  background-color: #073042;

  &__logo {
    display: flex;
    max-width: 38px;
    width: 100%;
    background-image: url(../../images/logo.svg);
    margin-left: 70px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    &:hover {
      opacity: 0.7;
    }
  }

  &__navigation {
    padding: 18px 70px 18px 0;
    display: flex;
    align-items: center;
  }

  &__navigation-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
  }

  &__navigation-item {
    display: flex;
    align-items: center;
  }

  &__navigation-link {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    &:hover {
      opacity: 0.7;
    }

    &_theme_green {
      padding: 8px 20px;
      background-color: #3DDC84;
      color: #000000;
      border-radius: 3px;
    }
  }
}