.movies-page {
  padding: 0 70px;
}

.more-button {
  padding: 11px 0 9px 0;
  margin-bottom: 159px;
  max-width: 1140px;
  width: 100%;
  background-color: #2F2F2F;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #FFF;
}