.techs {
  background-color: #272727;

  &__title {
    margin: 0 auto;
    max-width: 600px;
    padding-bottom: 26px;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF;
  }

  &__description {
    margin: 0 auto;
    padding-bottom: 100px;
    max-width: 460px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF;
  }
}

.section-title_type_techs {
  padding-top: 100px;
  margin-bottom: 90px;
}

.techs-container {
  list-style-type: none;
  padding: 0 0 100px 0;
  display: flex;
  justify-content: center;
  gap: 10px;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 60px;
    background-color: #303030;
    border-radius: 10px;
  }

  &__title {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF;
  }
}